html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitle {
  font-size: 12.8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 5ch;
  word-break: break-all;
}

@media screen and (max-width: 800px) {
  .subtitle {
    font-size: 4.8rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
